* {
  font-family: Hack Nerd Font Mono;
  font-size: 20px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #81a1c1;
  margin: 2px 2px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power {
  background-color: #2e3440;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: #81a1c1;
  border-radius: 5px;
  margin-right: 1rem;
}

#pulseaudio {
  color: #b48ead;
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-music {
  color: #81a1c1;
  border-radius: 5px;
}

#custom-lock {
  color: #b48ead;
  border-radius: 5px 0px 0px 5px;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}

tooltip {
  background-color: #2e3440;
}
